body {
    font-family: 'Arial', sans-serif;
    background-color: #a0d0a0; 
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    padding-top: 20px; 
}

.container {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #2c5031;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.options {
    margin-bottom: 20px;
}

.options label {
    font-size: 1.2em;
    margin-right: 10px;
}

.options select {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.options select:hover {
    background-color: #e0e0e0;
}

textarea {
    width: 100%;
    height: 300px;
}

button {
    padding: 15px 30px;
    margin: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #2c5031;
    color: #fff;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #1e3521;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

pre {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

button i {
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}