body {
    font-family: 'Arial', sans-serif;
    background-color: #a0d0a0; 
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    padding-top: 20px; 
}

.container {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #2c5036;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #2c5031;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

iframe:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

button {
    padding: 15px 30px;
    margin: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #43ea34;
    color: #fff;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #008f30;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button i {
    margin-right: 10px;
}

#tutorial-links {
    margin-top: 30px;
}

#tutorial-links a {
    color: #34db47;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#tutorial-links a:hover {
    color: #008372;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}