/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    background-color: #09e727; /* Couleur verte */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-brand {
    font-size: 1.8em;
    margin: 0;
    font-weight: bold;
    color: #0bc038; /* Couleur du texte */
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    color: #12fa0a; /* Couleur du texte */
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #a0d0a0; /* Couleur au survol */
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 100px auto 20px auto; /* Adjusted margin to account for fixed navbar */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center; /* Centrer le texte dans le conteneur */
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2c5031;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #2c5031;
}

button {
    padding: 15px 30px;
    margin: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #18ee34;
    color: #fff;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #217e3a;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button i {
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
}

input[type="text"]:focus {
    outline: none;
    border-color: #09e727;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour le jeu de mémoire */
#memory-cards-container {
    display: grid;
    color: #fff;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.memory-card {
    width: 100px;
    height: 150px;
    background-color: #01f329;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.memory-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0e7a20;
    border-radius: 10px;
    backface-visibility: hidden;
}

.memory-card::after {
    content: attr(data-card);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.memory-card.flip::after {
    transform: rotateY(0deg);
}

#math-info-question-container {
    margin-top: 20px;
}

#math-info-result {
    font-size: 1.2em;
    margin-top: 10px;
}

#math-info-score {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
    color: #2c5031;
}