body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #17ad30;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #2c5037;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 15px 30px;
    margin: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #17ad30;
    color: #fff;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0e7a20;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button i {
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#games-container {
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

/* Styles pour le jeu de mémoire */
#memory-cards-container {
    display: grid;
    color: #fff;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.memory-card {
    width: 100px;
    height: 150px;
    background-color: #01f329;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.memory-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0e7a20;
    border-radius: 10px;
    backface-visibility: hidden;
}

.memory-card::after {
    content: attr(data-card);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.memory-card.flip::after {
    transform: rotateY(0deg);
}