body {
    transition: background-color 0.3s, color 0.3s;
}

.notes-container {
    width: 50%;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    transition: background-color 0.3s, color 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    animation: slideIn 0.5s ease-in-out;
    transition: background-color 0.3s, color 0.3s;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

button {
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: #4cae4c;
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out;
    transition: background-color 0.3s, color 0.3s;
}

li button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

li button i {
    margin-right: 5px;
}

li button:hover {
    background-color: #c9302c;
    transform: scale(1.05);
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .notes-container {
    background-color: #1e1e1e;
    border-color: #333;
}

body.dark-mode input[type="text"],
body.dark-mode textarea,
body.dark-mode select {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

body.dark-mode li {
    background-color: #333;
    border-color: #555;
}

body.dark-mode button {
    background-color: #5cb85c;
    color: #fff;
}

body.dark-mode button:hover {
    background-color: #4cae4c;
}