/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.notes-container {
    width: 50%;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    transition: background-color 0.3s, color 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"], textarea, select, input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    animation: slideIn 0.5s ease-in-out;
    transition: background-color 0.3s, color 0.3s;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

button {
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: #1e3521;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeIn 0.5s ease-in-out;
    transition: background-color 0.3s, color 0.3s;
}

li img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

li button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

li button i {
    margin-right: 5px;
}

li button:hover {
    background-color: #c9302c;
    transform: scale(1.05);
}

.file-label {
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.file-label i {
    margin-right: 5px;
}

.file-label:hover {
    background-color: #4cae4c;
    transform: scale(1.05);
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .notes-container {
    background-color: #1e1e1e;
    border-color: #333;
}

body.dark-mode input[type="text"],
body.dark-mode textarea,
body.dark-mode select,
body.dark-mode input[type="file"] {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

body.dark-mode li {
    background-color: #333;
    border-color: #555;
}

body.dark-mode button {
    background-color: #5cb85c;
    color: #fff;
}

body.dark-mode button:hover {
    background-color: #4cae4c;
}

.navbar {
    background-color: #09e727; /* Couleur verte */
    color: #0fbb3a; /* Couleur du texte */
    padding: 5px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between; /* Centrer les éléments flexibles */
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px; /* Réduire le padding horizontal */
}

.navbar-brand {
    font-size: 1.5em; /* Réduire la taille de la police */
    margin: 0;
    font-weight: bold;
    color: #04cf48; /* Couleur du texte */
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrer les éléments flexibles */
    flex-grow: 1;
}

.navbar-menu li {
    margin-left: 10px; /* Réduire la marge gauche */
}

.navbar-menu a {
    color: #0cca1c; /* Couleur du texte */
    text-decoration: none;
    font-size: 0.9em; /* Réduire la taille de la police */
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #a0d0a0; /* Couleur au survol */
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 100px auto 20px auto; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center; /* Centrer le texte dans le conteneur */
}