body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

/* Styles pour le conteneur principal */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 100px auto 20px auto; /* Adjusted margin to account for fixed navbar */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center; /* Centrer le texte dans le conteneur */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #0a0909;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #4cae4c;
    transform: scale(1.05);
}

#toggle-dark-mode {
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
}

#toggle-dark-mode:hover {
    background-color: #555;
}

#quiz-container {
    margin-top: 20px;
}

#quiz-question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#quiz-options {
    margin-bottom: 20px;
}

#quiz-options button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, transform 0.3s;
}

#quiz-options button:hover {
    background-color: #e9e9e9;
    transform: scale(1.05);
}

.correct {
    background-color: #4caf50 !important;
    color: white;
}


.incorrect {
    background-color: #f44336 !important;
    color: white;
}

.dark-mode {
    background-color: #333;
    color: #444343;
}

.dark-mode #quiz-options button {
    background-color: #555;
    color: #f9f9f9;
}

.dark-mode #quiz-options button:hover {
    background-color: #666;
}

.dark-mode #next-question {
    background-color: #444;
    color: #f9f9f9;
}

.dark-mode #next-question:hover {
    background-color: #555;
}

#gamification {
    margin-top: 20px;
}

#badges ul {
    list-style-type: none;
    padding: 0;
}

#badges li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.nav-button {
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #17ad30;
    color: #fff;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.nav-button:hover {
    background-color: #128a23;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nav-button i {
    margin-right: 10px;
}

/* Styles pour la barre de navigation */
.navbar {
    background-color: #09e727; /* Couleur verte */
    color: #19d360; /* Couleur du texte */
    padding: 15px 0; /* Augmenter le padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between; /* Centrer les éléments flexibles */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Ajuster le padding horizontal */
}

.navbar-brand {
    font-size: 1.8em; /* Augmenter la taille de la police */
    margin: 0;
    font-weight: bold;
    color: #17d806; /* Couleur du texte */
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrer les éléments flexibles */
    flex-grow: 1;
}

.navbar-menu li {
    margin-left: 20px; /* Augmenter la marge gauche */
}

.navbar-menu a {
    color: #06f54d; /* Couleur du texte */
    text-decoration: none;
    font-size: 1em; /* Augmenter la taille de la police */
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #a0d0a0; /* Couleur au survol */
}

/* Styles pour les icônes dans les boutons de navigation */
.nav-button i {
    margin-right: 10px;
}
